﻿
<p><strong>Товар подкатегории id=20</strong></p>
<table class="table">
    <tr><td>Товар</td><td>Цена</td><td>Продавец</td></tr>
    @foreach (var item in ViewBag.SubCategory)
    {
        <tr><td>@item.Name </td><td>@item.Price</td><td>@item.Seller</td></tr>
    }
</table>

<p><strong>Товары с ценой больше 1000 руб</strong></p>
<table class="table">
    <tr><td>Товар</td><td>Цена</td><td>Продавец</td></tr>
    @foreach (var item in ViewBag.ProductBigger1000)
    {
        <tr><td>@item.Name </td><td>@item.Price</td><td>@item.Seller</td></tr>
    }
</table>

<p><strong>Товары с продавцом Виктория</strong></p>
<table class="table">
    <tr><td>Товар</td><td>Цена</td><td>Продавец</td></tr>
    @foreach (var item in ViewBag.ProductVictory)
    {
        <tr><td>@item.Name </td><td>@item.Price</td><td>@item.Seller</td></tr>
    }
</table>
